{% extends "base.html" %} {% block content %}
<div id="content">
    <div id="args">
        <span>Function name:</span><span><input type="text" id="fname"></span>
        <ul>
        </ul>
        <span><button id="kwargsadd" onclick="pages.api.add_kwarg ()">Add keyword argument</button></span>
        <span><button id="apicall" onclick="pages.api.call ()">Call function</button></span>
    </div>

    <div>
        <span>Message:</span>
        <pre id="json-send">
        </pre>
    </div>

    <div>
        <span>Response:</span>
        <pre id="json-receive">
        </pre>
    </div>
</div>
{% endblock %}
