<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link type="text/css" rel="stylesheet" href="/static/style.css" />
    <meta charset="utf-8" />
    <title>Happypanda</title>
</head>
<body>
    <nav>
        <ul>
            <li>Favorites</li>
            <li><a href="/index">Library</a></li>
            <li>Inbox</li>
            <li><a href="/apiview">API View</a></li>
            <li class="right">Add gallery</li>
        </ul>
    </nav>
    <div id="global" class="flash">
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <div class="left">
            <span id="serverstat">
                server connection: unknown
            </span>
        </div>
        <div class="right">
            {% if g.debug %}
            <span>debug mode</span>
            {% endif %}
        </div>
    </footer>

    <script src="/static/lib/socket.io-1.7.2.js"></script>
    <script src="/static/lib/jquery-3.1.1.js"></script>
    <script src="/static/__javascript__/pages.js"></script>
</body>
</html>