<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Happypanda</title>
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="#">Happypanda X</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="nav-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Favorites</a></li>
                    <li class="active"><a href="#">Library<span class="sr-only">(current)</span></a></li>
                    <li class="active"><a href="#">Inbox</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/apiview">API</a></liclass="active">
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div id="global" class="flash">
    </div>
    <div id="content" class="container-fluid">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <div class="pull-left">
            <span id="serverstat">
                server connection: <span class="label label-default">unkown</span>
            </span>
        </div>
        <div class="pull-right">
            <span class="label label-info">debug mode</span>
        </div>
    </footer>

    <script src="/static/lib/socket.io-1.7.2.js"></script>
    <script src="/static/lib/jquery-3.1.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/static/__javascript__/pages.js"></script>
</body>
</html>