{% extends "base.html" %} {% block content %}
<div id="content">
    <div id="galleries">

        <div class="gallery">
            <img src="/static/default.jpg" />
            <div class="meta">
                <span class="title">

                </span>
                <div class="artists">

                    <span class="artist">
                        author name
                    </span>

                </div>
            </div>
        </div>

    </div>
</div>
<script src="/static/lib/minigrid.min.js"></script>
{% endblock %}
