{% extends "base.html" %} {% block content %}
{% raw %}
<script id="context-nav-t" type="x-handlebars-template">
    <ol class="breadcrumb">
        {{#each context_links}}
        <li><a href="{{url}}">{{name}}</a></li>
        {{/each}}
    </ol>
</script>
<script id="items-t" type="x-handlebars-template">
    {{#each items}}
    <div class="gallery-normal grid-item">
        <img class="profile img-thumbnail" src="static/img/default.png">
        <div class="meta">
            <h5 class="gtitle">{{ title }}</h5>
        </div>
    </div>
    {{/each}}
</script>
<div id="item-content" class="row">
    <div id="item-sidebar" class="col-md-2">
        <div id="browse-settings" class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Browse Settings</div>

            <!-- List group -->
            <div class="list-group">

                <a data-toggle="collapse" data-target="#view-settings" class="collapsed list-group-item">
                    View: <span id="current-view" class="label label-default"></span>
                </a>
                <div class="list-group collapse" id="view-settings">
                    <a data-toggle="collapse" data-target=".collapse.in" class="list-group-item sub" onclick="pages.library.set_view('Collection')">Collection</a>
                    <a data-toggle="collapse" data-target=".collapse.in" class="list-group-item sub" onclick="pages.library.set_view('Gallery')">Gallery</a>
                </div>

                <a data-toggle="collapse" data-target="#sort-settings" class="collapsed list-group-item">
                    Sort by: <span class="label label-default">Title</span>
                </a>
                <div class="list-group collapse" id="sort-settings">
                    <a data-toggle="collapse" data-target=".collapse.in" class="list-group-item sub">Title</a>
                    <a data-toggle="collapse" data-target=".collapse.in" class="list-group-item sub">Artist</a>
                </div>

                <a data-toggle="collapse" data-target="#order-settings" class="collapsed list-group-item">
                    Order by: <span class="label label-default">Ascending</span>
                </a>
                <div class="list-group collapse" id="order-settings">
                    <a data-toggle="collapse" data-target=".collapse.in" class="list-group-item sub">Ascending</a>
                    <a data-toggle="collapse" data-target=".collapse.in" class="list-group-item sub">Descending</a>
                </div>

                <label for="gallery-group" class="input-label">Group</label>
                <input type="checkbox" name="switch" checked id="gallery-group">
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#side-lists" data-toggle="tab" aria-expanded="true">Lists</a></li>
            <li class=""><a href="#side-artists" data-toggle="tab" aria-expanded="false">Artists</a></li>
            <li class=""><a href="#side-tags" data-toggle="tab" aria-expanded="false">Tags</a></li>
        </ul>
        <div class="tab-content">

            <!-- Lists -->

            <div class="tab-pane fade active in" id="side-lists">
                <div class="list-group">

                    <script id="side-lists-t" type="x-handlebars-template">
                        {{#each side_lists}}
                        <a class="list-group-item">
                            {{ name }}
                        </a>
                        {{/each}}
                    </script>

                </div>
            </div>

            <!-- Artists -->

            <script id="side-artists-t" type="x-handlebars-template">
                <div class="list-group">
                    {{#each side_artists}}
                    <a class="list-group-item">
                        <span class="badge">{{ count }}</span>
                        {{ name }}
                    </a>
                    {{/each}}
                </div>
            </script>
            <div class="tab-pane fade" id="side-artists"></div>

            <!-- Tags -->

            <div class="tab-pane fade" id="side-tags">
                <div class="list-group">
                    <a class="list-group-item">
                        <span class="badge">14</span>
                        Cras justo odio
                    </a>
                    <a data-toggle="collapse" data-target="#products" class="collapsed list-group-item">
                        <span class="badge">14</span>
                        <i class="fa fa-gift fa-lg"></i> UI Elements <span class="arrow"></span>
                    </a>
                    <ul class="list-group sub-menu collapse" id="products">
                        <li class="list-group-item"><a href="#">CSS3 Animation</a></li>
                        <li class="list-group-item"><a href="#">General</a></li>
                        <li class="list-group-item"><a href="#">Buttons</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script id="nothing-t" type="x-handlebars-template">
        <div class="nothing">
            Nothing to see here ~
        </div>
    </script>

    <script id="item-pagination-t" type="x-handlebars-template">
        <ul class="pagination">
            {{#if back_button}}
            <li><a href="#" onclick="pages.library.update_pagination({{back_number}})">&laquo;</a></li>
            {{/if}}

            {{#each pages}}

            {{#if active}}
            <li class="active"><a href="#" onclick="pages.library.update_pagination({{number}})">{{ number }}</a></li>
            {{else}}
            <li><a href="#" onclick="pages.library.update_pagination({{number}})">{{ number }}</a></li>
            {{/if}}

            {{/each}}

            {{#if next_button}}
            <li><a href="#" onclick="pages.library.update_pagination({{next_number}})">&raquo;</a></li>
            {{/if}}
        </ul>
    </script>

    <div class="item-pagination"></div>
    <div id="items" class="grid-items col-md-10 container" onload="pages.library.main ()"></div>
    <div class="item-pagination"></div>
</div>
{% endraw %}
{% endblock %}
