{% extends "base.html" %} {% block content %}
<div id="content">
    <div id="galleries" class="row">

        <div class="gallery col-sm-6 col-md-4">
            <img src="static/default.jpg">
            <div class="meta">
                <h5>Thumbnail label</h5>
            </div>
        </div>
        <div class="gallery col-sm-6 col-md-4">
            <img src="static/default.jpg">
            <div class="meta">
                <h5>Thumbnail label</h5>
            </div>
        </div>
        <div class="gallery col-sm-6 col-md-4">
            <img src="static/default.jpg">
            <div class="meta">
                <h5>Thumbnail label</h5>
            </div>
        </div>
        <div class="gallery col-sm-6">
            <img src="static/default.jpg">
            <div class="meta">
                <h5>Thumbnail label</h5>
            </div>
        </div>
        <div class="gallery col-sm-6 col-md-4">
            <img src="static/default.jpg">
            <div class="meta">
                <h5>Thumbnail label</h5>
            </div>
        </div>
        <div class="gallery col-sm-6 col-md-4">
            <img src="static/default.jpg">
            <div class="meta">
                <h5>Thumbnail label</h5>
            </div>
        </div>
        <div class="gallery col-sm-6 col-md-4">
            <img src="static/default.jpg">
            <div class="meta">
                <h5>Thumbnail label</h5>
            </div>
        </div>

    </div>
</div>
<!--<script src="/static/lib/minigrid.min.js"></script>-->
{% endblock %}
