-r requirements.txt

flake8==3.0.4
mock==2.0.0
pytest==3.0.3
pytest-cov==2.4.0
autopep8==1.3.2
Sphinx==1.5.2
sphinxcontrib-documentedlist==0.6
sphinx-autodoc-napoleon-typehints==2.1.6
sphinxcontrib-autoprogram==0.1.3