bcrypt==3.1.3
gevent==1.2.2
SQLAlchemy==1.1.15
sqlalchemy-utils==0.32.21
rarfile==3.0
alembic==0.9.6
arrow==0.10.0
https://github.com/Pewpews/happy-bittorrent/archive/master/1.0.0.zip
Flask==0.12.2
karellen-geventws==1.0.2
flask-socketio==2.9.3
libsass==0.13.2
pyyaml==3.12
pillow==4.3.0
https://github.com/happypandax/i18n/archive/master.zip
send2trash==1.4.2
PyQt5==5.9.2
QtAwesome==0.4.4
psutil==5.4.2
rollbar==0.13.17
CacheControl==0.12.3
attrs==17.3.0
requests==2.18.4
certifi>=2017.11.5
apscheduler==3.5.0