DoNotDelete {
	background-color: #F2F2F2;
}

AppWindow {
	background-color: #F2F2F2;
}

QWidget#chapter_main {
	background-color: #464646;
}

QLabel#image_box {
	border:5px solid #ffd800;
}

QLabel#title {
	font-weight:bold;
}

LineEdit#search_bar {
	border:0px solid #ffd800;
	border-radius:0.45em;
}

QLabel#author {
	font-weight:lighter;
}

AppWindow > QToolBar, QStatusBar {
	background-color: #464646;
	border: none;
}

AppWindow > QToolBar::sunken {
	border: none;
}

AppWindow > QStatusBar > QWidget {
	color:white;
	border: none;
}

AppWindow > QStatusBar > QLabel {
	color:white;
	border: none;
}
AppWindow > QStatusBar::item {
	border: none;
}

Loading > QWidget {
	background-color:rgba(0, 0, 0, 0.65);
}

BasePopup QLabel, BaseUserChoice QLabel{
	color:white;
}

BasePopup > QFrame, BaseUserChoice > QFrame{
	background-color:rgba(0, 0, 0, 0.85);
	border-radius: 1em;
}

QScrollBar:vertical {
	border: 0px solid #9A9A9A;
	background:none;
	width:1em;
	margin: 0px 0px 0px 0px;
	}

QScrollBar:horizontal {
	border: 0px solid #9A9A9A;
	background:none;
	height:1em;
	margin: 0px 0px 0px 0px;
	}

QScrollBar::handle {
	background: #464646;
	border: 0px solid #464646;

}

QScrollBar::handle:vertical, QScrollBar::handle:horizontal {
	min-height: 7em;
	border: 0px solid #9A9A9A;
	border-radius: 0.45em;
}

QScrollBar::add-line:vertical {
	background: #464646;
	height: 0px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal {
	background: #464646;
	width: 0px;
	subcontrol-position: right;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
	background: #464646;
	height: 0px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
	background: #464646;
	width: 0px;
	subcontrol-position: left;
	subcontrol-origin: margin;
}

QScrollBar::add-page, QScrollBar::sub-page {
	background: none;
}

QMenu {
	background-color: #464646;
	color: white;
}

QMenu::item:selected {
	background-color: #808080;
}

MangaView {
	background-color: #F2F2F2;
	border: 0px solid #F2F2F2;
}

QLabel {
		color: #3A404B;
}

QPushButton {
	border-left: 0.50em solid #464646;
	border-right: 0.50em solid #464646;
	border-top: 0.35em solid #464646;
	border-bottom: 0.35em solid #464646;
	border-radius: 0.55em;
}

QPushButton, QToolButton {
	background-color: #464646;
	/*height: 20px;
	border: 0.5px solid #303030;*/
	font-size: 1.2em;
	color: white;
}

QPushButton:hover, QToolButton:hover {
	background-color: #585858;
	border:none;
}

/*GalleryDialog {
	background-color:#464646;
	border: 1px solid #464646;
	border-radius: 20px;
	color: white;
}*/

QPushButton:pressed, QPushButton:checked {
	background-color: rgba(164,164,164,0.50);
}

QToolTip {
	border-style: none;
	background-color: #464646;
	color: white;
}

NotificationOverlay > * {
	color:white;
}

TagText:pressed, TagText:hover {
	border: 0.1em solid rgba(0,0,0,0.85);
}

TagText {
	padding-right: 0.7em;
	padding-left: 0.7em;
	padding-bottom: 0.2em;
	padding-top: 0.1em;
	border-radius: 0.45em;
	border: 0.1em solid rgba(164,164,164,0.50);
	background-color: rgba(164,164,164,0.50);
}

/*GalleryDownloaderItem > *{
	background-color: #464646;
	color: white;
}*/