DoNotDelete {
}

QLabel#author {
	font-weight:lighter;
}

AppWindow > QToolBar, QStatusBar, SideBarWidget {
	background-color: #2A2D31;
	border: none;
}

AppWindow > QToolBar::sunken, AppWindow > QStatusBar::item {
	border: none;
}

AppWindow > QStatusBar > QWidget, QStatusBar > QLabel {
	color:white;
	border: none;
}

Loading > QWidget {
	background-color:rgba(0, 0, 0, 0.65);
}

BasePopup QLabel, BaseUserChoice QLabel{
	color:white;
}

BasePopup > QFrame, BaseUserChoice > QFrame{
	background-color:rgba(0, 0, 0, 0.85);
	border-radius: 1em;
}

QScrollBar:vertical {
	width:1em;
}

QScrollBar:horizontal {
	height:1em;
	}

QScrollBar:vertical, QScrollBar:horizontal {
	border: 0px solid #2A2D31;
	background:none;
	margin: 0px 0px 0px 0px;
	}

QScrollBar::handle {
	background: #2A2D31;
}

QScrollBar::handle:vertical, QScrollBar::handle:horizontal {
	min-height: 7em;
}

QScrollBar::add-line:vertical {
	background: #2A2D31;
	height: 0px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal {
	background: #2A2D31;
	width: 0px;
	subcontrol-position: right;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
	background: #2A2D31;
	height: 0px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
	background: #2A2D31;
	width: 0px;
	subcontrol-position: left;
	subcontrol-origin: margin;
}

QScrollBar::add-page, QScrollBar::sub-page {
	background: none;
}

QMenu {
	background-color: #2A2D31;
	color: white;
}

QMenu::item:selected {
	background-color: #d64933;
}

MangaView {
	border: 0px solid;
}

QLabel {
	color: #d64933;
}

QPushButton {
	border: 1px solid #3E4249;
    border-radius: 1px;
    padding: 5px;
}

QPushButton, QToolButton {
	background-color: #3E4249;
	color: white;
}

QPushButton:hover, QToolButton:hover {
	border: 1px solid #d64933;
}

QPushButton:pressed, QPushButton:checked {
	background-color: #d64933;
}

QToolTip {
	border-style: none;
	background-color: #2A2D31;
	color: white;
}

NotificationOverlay > QLabel {
	color: white;
    background-color: #3E4249;
	border-style: none;
}

TagText {
	padding-right: 0.7em;
	padding-left: 0.7em;
	padding-bottom: 0.2em;
	padding-top: 0.1em;
	border-radius: 0.45em;
	border: 0.1em solid #d64933;
	background-color: rgba(62, 66, 73,0.50) !important;
}

ArrowWindow {
    background-color: #2A2D31;
    color: #d64933;
    border: 1px solid #d64933;
    border-radius: 5px;
}

GalleryMetaWindow QScrollArea QWidget, QHeaderView::section, QHeaderView::section::checked {
    background-color: #2A2D31;
}

SettingsDialog, SettingsDialog QScrollArea QWidget, GalleryDialog, GalleryDialog QScrollArea QWidget {
    color: #2A2D31;
}

GalleryDialog QScrollArea QWidget QPushButton, SettingsDialog QScrollArea QWidget QPushButton{
    color: white;
}

QHeaderView::section {
    color: white;
}

QHeaderView::section {
    border-style: none;
    padding: 5px;
}

QGroupBox::title, QHeaderView::down-arrow, QHeaderView::up-arrow {
	color: #d64933;
}

QListView, QTableView {
   border-style: none;
}

QProgressBar {
    border: 2px solid #3E4249;
    border-radius: 5px;
}

QProgressBar::chunk {
    background-color: #d64933;
    width: 20px;
}