DoNotDelete {
	background-color: #F2F2F2; 
}

AppWindow {
	background-color: #F2F2F2;
}

QWidget#chapter_main {
	background-color: #464646;
}

GalleryMetaPopup {
	background-color: #585858;
}

GalleryMetaPopup > QLabel {
	color: white;
}

QLabel#image_box {
	border:1px solid #ffd800;
}

QLabel#title {
	font-weight:bold;
	font-size:12px;

}

LineEdit#search_bar {
	border:0px solid #ffd800;
	border-radius:5px;
}

QLabel#author {
	font-weight:lighter;
}

AppWindow > QToolBar, QStatusBar {
	background-color: #464646;
	border: none;
}

AppWindow > QToolBar::sunken {
	border: none;
}

AppWindow > QStatusBar > QWidget {
	color:white;
	border: none;
}

AppWindow > QStatusBar > QLabel {
	color:white;
	border: none;
}
AppWindow > QStatusBar::item {
	border: none;
}

Loading > QWidget {
	background-color:rgba(0, 0, 0, 0.65);
}

BasePopup QLabel, BaseUserChoice QLabel{
	color:white;
}

BasePopup > QFrame, BaseUserChoice > QFrame{
	background-color:rgba(0, 0, 0, 0.85);
	border: 1px solid rgba(0, 0, 0, 0.85);
	border-radius: 5px;
}

QScrollBar:vertical {
	border: 0px solid #9A9A9A;
	background:none;
	width:10px;
	margin: 0px 0px 0px 0px;
	}

QScrollBar:horizontal {
	border: 0px solid #9A9A9A;
	background:none;
	height:10px;
	margin: 0px 0px 0px 0px;
	}

QScrollBar::handle {
	background: #464646;
	border: 0px solid #464646;

}

QScrollBar::handle:vertical, QScrollBar::handle:horizontal {
	min-height: 50px;
	border: 0px solid #9A9A9A;
	border-radius: 4px;
}

QScrollBar::add-line:vertical {
	background: #464646;
	height: 0px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal {
	background: #464646;
	width: 0px;
	subcontrol-position: right;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
	background: #464646;
	height: 0px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
	background: #464646;
	width: 0px;
	subcontrol-position: left;
	subcontrol-origin: margin;
}

QScrollBar::add-page, QScrollBar::sub-page {
	background: none;
}

QMenu {
	background-color: #464646;
	color: white;
}

QMenu::item:selected {
	background-color: #808080;
}

MangaView {
	background-color: #F2F2F2;
	border: 0px solid #F2F2F2;
}

QLabel {
		color: #3A404B;
}

QPushButton {
	border-left: 6px solid #464646;  
	border-right: 6px solid #464646;  
	border-top: 3px solid #464646;  
	border-bottom: 3px solid #464646;  
	border-radius: 3px;
}

QPushButton, QToolButton {
	background-color: #464646;
	/*height: 20px;
	border: 0.5px solid #303030;*/
	font-size: 13px;
	color: white;
}

QPushButton:hover, QToolButton:hover {
	background-color: #585858;
	border:none;
}

/*GalleryDialog {
	background-color:#464646;
	border: 1px solid #464646;
	border-radius: 20px;
	color: white;
}*/

QPushButton:pressed, QPushButton:checked {
	background-color: rgba(164,164,164,0.50);
}

QToolTip {
	border-style: none;
	background-color: #464646;
	color: white;
}

NotificationOverlay > * {
	color:white;
}

TagText {
	border: 1px solid rgba(0,0,0,0.85);
	border-radius: 5px;
	padding-left: 3px;
	padding-right: 3px;

}

/*GalleryDownloaderItem > *{
	background-color: #464646;
	color: white;
}*/