DoNotDelete {
	background-color: #F2F2F2; 
}

AppWindow {
	background-color: #F2F2F2;
}

QWidget#chapter_main {
	background-color: #464646;
}

Popup {
    background-color: #585858;
}

Popup > QLabel {
    color: white;
}

QLabel#image_box {
    border:1px solid #ffd800;
}

QLabel#title {
    font-weight:bold;
    font-size:12px;
}

QLabel#author {
    font-weight:lighter;
}

AppWindow > QToolBar, QStatusBar {
	background-color: #464646;
    border: none;
}

AppWindow > QStatusBar > QWidget {
    color:white;
    border: none;
}

AppWindow > QStatusBar > QLabel {
    color:white;
    border: none;
}
AppWindow > QStatusBar::item {
    border: none;
}

QScrollBar:vertical {
    border: 0px solid #9A9A9A;
    background:none;
    width:10px;
    margin: 0px 0px 0px 0px;
    }

QScrollBar:horizontal {
    border: 0px solid #9A9A9A;
    background:none;
    height:10px;
    margin: 0px 0px 0px 0px;
    }

QScrollBar::handle {
    background: #464646;
    border: 0px solid #464646;

}

QScrollBar::handle:vertical {
    min-height: 0px;
}

QScrollBar::handle:horizontal {
    min-width: 0px;
}

QScrollBar::add-line:vertical {
    background: #464646;
    height: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal {
    background: #464646;
    width: 0px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    background: #464646;
    height: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    background: #464646;
    width: 0px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QMenu {
    background-color: #464646;
    color: white;
}

QMenu::item:selected {
    background-color: #808080;
}

MangaView {
	background-color: #F2F2F2;
    border: 0px solid #F2F2F2;
}

QLabel {
		color: #3A404B;
}

QPushButton, QToolButton {
	background-color: #464646;
    /*height: 20px;
	border: 0.5px solid #303030;*/
	font-size: 13px;
	color: white;
}

QPushButton:hover {
	background-color: #585858; 
}

/*SeriesDialog {
    background-color:#464646;
    border: 1px solid #464646;
    border-radius: 20px;
    color: white;
}*/

QPushButton:pressed, QPushButton:checked {
	background-color: #E1E1E1;
}

ChapterInfo {
    background-color:#464646;
}

/*Window > QPlainTextEdit, QTextEdit, QGraphicsView {
	background-color: #303030;
	color: white;
	border: none;

QGraphicsTextItem {
	color:white;
} */