@import "s-alert.css";

* {
    min-height: 0;
    min-width: 0;
}

body, #root, #root > div { display: flex }

#root, #root > div {
    flex-grow: 1;
    flex-direction: column;
}

.main-content { display: flex; }

.main-content > .dimmable {
    z-index: 1;
}

.main-content > .sidebar.menu {
    z-index: 99999;
}

.ui.vertical.menu .item > i.icon.left {
    float: none;
    margin: 0em 0.35714286em 0em 0em;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
}

.top-aligned {
    margin: 0px;
    margin-bottom: auto;
}

.middle-aligned {
    margin: 0px;
    margin-top: auto;
    margin-bottom: auto;
}

.bottom-aligned {
    margin: 0px;
    margin-top: auto;
}

/*i.large.icon, i.large.icons {
    font-size: 1.1em;
}*/

i.medium-size { font-size: 1.1em !important; }


.json-string { color: green; }

.json-number { color: darkorange; }

.json-boolean { color: blue; }

.json-null { color: magenta; }

.json-key { color: red; }

.right {
    float: right;
}

.left {
    float: left;
}

.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.card-content {
    position: relative;
}

.card-header {
    font-size: 1rem !important;
}

.card-item {
    position:absolute !important;
    margin: 0.25rem !important;
}

.card-item.right {
    right: 0;
}

    .card-item.bottom {
        bottom: 0;
    }

.card-item.left {
    left: 0;
}

.card-item.top {
        top: 0;
    }

.fullwidth {
    width: 100%;
}

.slide-next {
    top: 50%;
    position: absolute;
    transform: translate(0,-50%);
    z-index: 3;
}

    .slide-next.right {
        right: 0;
    }

    .slide-next.left {
        left: 0;
    }

    .slick-dots {
        bottom: 0 !important;
        position: relative !important;
    }

    .slick-list {
        padding: 5px !important;
    }

.slide-segment {
    margin: 0 !important;
}

.no-padding-segment {
    padding: 0 !important;
    padding-bottom: 0.5rem !important;
}

.overflow-auto {
    overflow: auto !important;
}

@media screen and (min-width: 1000px){
    .card.medium-size {
        max-width: 200px !important;
    }
}

