* {
    margin: 0;
    padding: 0;
}

nav, footer {
    margin: auto;
    padding: 5pt;
}

div#global.flash {
    width: 100%;
    padding: 3pt;
}

    div#global.flash div {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 1px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 2pt;
        margin: auto;
        width: 300pt;
        color: rgba(0, 0, 0, 0.7);
    }

        div#global.flash div.red {
            color: #ec0000;
            font-weight: bold;
        }

div#galleries {
    margin: auto;
    list-style: none;
    width: 95%;
}

    div#galleries div.gallery {
        position: relative;
        display: inline-block;
        width: 200px;
        min-height: 100px;
        max-height: 350px;
        margin: 10px 6px;
        overflow: hidden;
    }

        div#galleries div.gallery img {
            width: 100%;
            height: auto;
        }

        div#galleries div.gallery .meta {
            color: white;
            position: absolute;
            padding: 5pt 5pt;
            padding-top: 8pt;
            width: 100%;
            bottom: 0;
            background: rgba(237,237,237,0.17);
            background: -moz-linear-gradient(top, rgba(237,237,237,0.17) 0%, rgba(0,0,0,0.17) 0%, rgba(0,0,0,0.76) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,0.17)), color-stop(0%, rgba(0,0,0,0.17)), color-stop(100%, rgba(0,0,0,0.76)));
            background: -webkit-linear-gradient(top, rgba(237,237,237,0.17) 0%, rgba(0,0,0,0.17) 0%, rgba(0,0,0,0.76) 100%);
            background: -o-linear-gradient(top, rgba(237,237,237,0.17) 0%, rgba(0,0,0,0.17) 0%, rgba(0,0,0,0.76) 100%);
            background: -ms-linear-gradient(top, rgba(237,237,237,0.17) 0%, rgba(0,0,0,0.17) 0%, rgba(0,0,0,0.76) 100%);
            background: linear-gradient(to bottom, rgba(237,237,237,0.17) 0%, rgba(0,0,0,0.17) 0%, rgba(0,0,0,0.76) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#000000', GradientType=0 );
        }

            div#galleries div.gallery .meta .artists {
                margin: 4pt auto;
                font-size: 9pt;
            }

                div#galleries div.gallery .meta .artists .artist {
                    border: 1px dashed white;
                    border-radius: 2px;
                    padding: 2pt;
                }


pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.json-string {
    color: green;
}

.json-number {
    color: darkorange;
}

.json-boolean {
    color: blue;
}

.json-null {
    color: magenta;
}

.json-key {
    color: red;
}

#args {
    margin-left: auto;
    margin-right: auto;
}

    #args button {
        margin-bottom: 20px;
        border: 1px solid #2E3535;
        padding: 5pt 5pt;
        border-radius: 2px;
        box-sizing: border-box;
    }

    #args input {
        margin: 0;
        padding: 0;
        -webkit-appearance: none;
        background: #2E3535;
        border: 1px solid #2E3535;
        padding: 5pt 5pt;
        color: #fff;
        margin-bottom: 20px;
        border-radius: 2px;
        box-sizing: border-box;
        transition: all 250ms;
    }

        #args input:hover {
            border-color: #242929;
            background: #2e3535;
        }

        #args input:active, #args input:focus {
            border: 1px solid #242929;
            background: #242929;
            outline: 0;
        }

    #args ul {
        list-style: none;
    }

    #args span {
        margin-left: 5pt;
        margin-right: 5pt;
    }

    #args ul li {
        margin: auto;
    }

