* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Roboto;
    src: url(/static/font/Roboto/Roboto-Regular.woff);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(/static/font/Roboto/Roboto-Bold.woff);
}

@font-face {
    font-family: Roboto-Light;
    src: url(/static/font/Roboto/Roboto-Light.woff);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(/static/font/Roboto/Roboto-Medium.woff);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(/static/font/Roboto/Roboto-Thin.woff);
}

body {
    width: 80%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.1);
    color: #1b1b1b;
    font-family: Roboto;
}


nav, footer {
    margin: auto;
    padding: 5pt;
}

nav {
    position: relative;
    margin-top: 50pt;
    border-bottom: 1px solid #1b1b1b;
}

    nav ul {
        list-style: none;
    }

        nav ul li {
            display: inline-block;
            margin: 0 5pt;
        }

div#global.flash {
    width: 100%;
    padding: 3pt;
}

    div#global.flash div {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 1px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 2pt;
        margin: auto;
        width: 300pt;
        color: rgba(0, 0, 0, 0.7);
    }

        div#global.flash div.red {
            color: #ec0000;
            font-weight: bold;
        }

ul#galleries {
    margin: auto;
    list-style: none;
}

    ul#galleries li.gallery {
        display: inline-block;
        width: 200px;
        height: 300px;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background-color: rgba(0, 0, 0, 0.05);
        padding: 1px;
        margin: 10px 6px;
    }

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.json-string { color: green; }
.json-number { color: darkorange; }
.json-boolean { color: blue; }
.json-null { color: magenta; }
.json-key { color: red; }

#args {
    margin-left: auto;
    margin-right: auto;
}

#args button {
    margin-bottom: 20px;
    border: 1px solid #2E3535;
    padding: 5pt 5pt;
      border-radius: 2px;
  box-sizing: border-box;
}

#args input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  background: #2E3535;
  border: 1px solid #2E3535;
  padding: 5pt 5pt;
  color: #fff;
  margin-bottom: 20px;
  border-radius: 2px;
  box-sizing: border-box;
  transition: all 250ms;
}

#args input:hover {
  border-color: #242929;
  background: #2e3535;
}

#args input:active, #args input:focus {
  border: 1px solid #242929;
  background: #242929;
  outline: 0;
}

#args ul {
    list-style: none;
}

#args span {
    margin-left: 5pt;
    margin-right: 5pt;
}

#args ul li {

}

footer {
    position: relative;
    border-top: 1px solid #1b1b1b;
}

    footer div {
        position: absolute;
    }

        footer div.left {
            text-align: left;
            left: 0;
        }

        footer div.right {
            text-align: right;
            right: 0;
        }
