<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link type="text/css" rel="stylesheet" href="/static/style.css" />
    <meta charset="utf-8" />
    <title>Happypanda</title>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/client.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li>Favorites</li>
            <li>Library</li>
            <li>Inbox</li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <footer>
        {% for n in g._versions %}
        <span>{{ n }}: {{ g._versions[n] }}</span>
        {% endfor %}
    </footer>
</body>
</html>