@import url('./nprogress.css');
@import url('./reader.css');

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.mb-auto {
    margin-bottom: auto;
}

.mt-auto {
    margin-top: auto;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.max-w-full {
    max-width: 100%;
}

.max-h-full {
    max-height: 100%;
}

.user-select-none {
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#bottom_zone, #drawer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    padding-left: 70px;
    padding-right: 5px;
    padding-bottom: 20px;
}

#bottom_zone {
    pointer-events: none;
}

#bottom_zone > div {
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 70px;
    right: 5px;
    bottom: 20px;
}

#bottom_zone > div > .item {
    position: absolute;
    float: unset;
}

#bottom_zone > div > .item > * {
    pointer-events: auto;
}

#bottom_zone > div > .item.center {
    right: 0;
    left: 0;
}


#bottom_zone > div > .item.right {
    right: 0;
}

#bottom_zone > div > .item.top {
    top: 0;
}

#bottom_zone > div > .item.bottom {
    bottom: 0px;
}

#bottom_zone > div > .item.left {
    left: 10px;
}

#bottom_zone > div > .item.flex {
    display: flex;
    flex-direction: column;
}

.accented_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -3.5em;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    overflow: auto;
}
.no-scrollbar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.fluid-dimmer > .content {
    width: 100%;
}