.reader-container {
    position: relative;
    max-height: 100vh;
    overflow: hidden;
}

.reader-container .reader-content {
    display: flex;
    flex-direction: row;
    -webkit-transform-origin: left top;
	-webkit-transform: translateZ(0);
	-moz-transform-origin: left top;
	-moz-transform: translateZ(0);
	-ms-transform-origin: left top;
	-ms-transform: translateZ(0);
	-o-transform-origin: left top;
	-o-transform: translateZ(0);
	transform-origin: left top;
	transform: translateZ(0);
}

.reader-container .reader-content.column {
    flex-direction: column;
}

.reader-container .reader-content .reader-item {
    max-height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    position: relative;

}
.reader-container .reader-content .reader-item img {
    position: absolute;
    -webkit-transform-origin: left top;
	-webkit-transform: translateZ(0);
	-moz-transform-origin: left top;
	-moz-transform: translateZ(0);
	-ms-transform-origin: left top;
	-ms-transform: translateZ(0);
	-o-transform-origin: left top;
	-o-transform: translateZ(0);
	transform-origin: left top;
	transform: translateZ(0);
}

.reader-container .reader-content .reader-item img.fit-width {
    max-width: 100%;
    height: auto;
}

.reader-container .reader-content .reader-item img.fit-width.stretch {
    max-width: unset;
    width: 100%;
    height: auto;
}

.reader-container .reader-content .reader-item img.fit-height {
    width: auto;
    max-height: 100%;
}

.reader-container .reader-content .reader-item img.fit-height.stretch {
    width: auto;
    max-height: unset;
    height: 100%;
}

.reader-container .reader-content .reader-item .actions {
    position: absolute;
    bottom: 50px;
    left: 50px;
    right: 50px;
    z-index: 1;
}
