* {
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.1);
    color: #1b1b1b;
}


nav, footer {
    margin: auto;
    padding: 5pt;
}

footer {
    border-top: 1px solid #1b1b1b;
}

nav {
    margin-top: 50pt;
    border-bottom: 1px solid #1b1b1b;
}

    nav ul {
        list-style: none;
    }

        nav ul li {
            display: inline-block;
            margin: 0 5pt;
        }

ul#galleries {
    margin: auto;
    list-style: none;
    padding: 10pt;
}

    ul#galleries li.gallery {
        display: inline-block;
        width: 200px;
        height: 300px;
        border-radius: 3px;
        background-color: #bdbdbd;
        padding: 1px;
    }
