.reading_icon_label i {
    vertical-align: unset !important;
    height: 1em !important;
    width: 0.4em !important;
}

.favorite_label {
    font-size: 2.5rem !important;
}

.parody_card_label > img {
    margin: 0 !important;
}

.parody_card_label > .content > .header {
    font-size: 1.2em !important;
}