* {
    margin: 0;
    padding: 0;
}

nav, footer {
    margin: auto;
}

nav {
    margin-bottom: 0 !important;
}

footer {
    padding: 5pt;
}

#footer-right, #footer-left {
    padding-bottom: 10pt;
}

div.gallery-normal {
    position: relative;
    width: 200px;
    min-height: 100px;
    max-height: 350px;
    overflow: hidden;
}

    div.gallery-normal img.profile {
        width: 100%;
        height: auto;
    }

    div.gallery-normal div.meta {
        position: absolute;
        padding: 5pt 5pt;
        padding-top: 15pt;
        width: 100%;
        bottom: 0;
        background: rgba(255,255,255,0);
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.34) 42%, rgba(0,0,0,0.82) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(42%, rgba(0,0,0,0.34)), color-stop(100%, rgba(0,0,0,0.82)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.34) 42%, rgba(0,0,0,0.82) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.34) 42%, rgba(0,0,0,0.82) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.34) 42%, rgba(0,0,0,0.82) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.34) 42%, rgba(0,0,0,0.82) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
    }

        div.gallery-normal div.meta .gtitle {
            color: white;
        }

.item-pagination {
    text-align: center;
}

.item-pagination .pagination {
    margin-bottom: 0;
    margin-top: 0;
}

.json-string {
    color: green;
}

.json-number {
    color: darkorange;
}

.json-boolean {
    color: blue;
}

.json-null {
    color: magenta;
}

.json-key {
    color: red;
}

#args {
    margin-bottom: 20pt;
}

    #args ul {
        list-style: none;
    }

    #args ul li div {
        margin-bottom: 5pt;
    }

    #args span {
        margin-left: 5pt;
        margin-right: 5pt;
        margin-bottom: 10pt;
    }

.list-group .sub {
    padding-left: 30px;
}

.input-label {
    padding: 1em;
    padding-bottom: 0.5em;
}
