{% extends "base.html" %} {% block content %}
<div id="args" class="container" onload="pages.init_page('api', pages.ApiPage).main()">
    <span>
        <label for="fname">Function name:</label>
        <input type="text" id="fname" class="form-control">
    </span>
    <ul></ul>
    <span>
        <a id="kwargsadd" class="btn btn-default" onclick="pages.get_page('api').add_kwarg()">Add keyword argument</a>
    </span>
    <span>
        <a id="apicall" class="btn btn-success" onclick="pages.get_page('api').call()">Call function</a>
    </span>
</div>

<div class="container">
    <span>Message:</span>
    <pre id="json-send" class="well">
        </pre>
</div>

<div class="container">
    <span>Response:</span>
    <pre id="json-receive" class="well">
        </pre>
</div>
{% endblock %}