<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HPX - Preview</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png?v=kPxXam0OO4">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png?v=kPxXam0OO4">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png?v=kPxXam0OO4">
    <link rel="manifest" href="/static/favicon/site.webmanifest?v=kPxXam0OO4">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg?v=kPxXam0OO4" color="#363636">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico?v=kPxXam0OO4">
    <meta name="apple-mobile-web-app-title" content="HappyPanda X">
    <meta name="application-name" content="HappyPanda X">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/favicon/mstile-144x144.png?v=kPxXam0OO4">
    <meta name="msapplication-config" content="/static/favicon/browserconfig.xml?v=kPxXam0OO4">
    <meta name="theme-color" content="#ffffff">

    {%if dev%}
    <link rel="stylesheet" href="/static/css/semantic.css" />
    {%else%}
    <link rel="stylesheet" href="/static/css/semantic.min.css" />
    {% endif %}
</head>
<body>
<div id="root" data-machine="{{same_machine}}" data-version="{{version}}" class="fullheight">
</div>
<script src="/static/lib/bundle.js?{{version}}"></script>
</body>
</html>