<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HPX - Preview</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="HPX">
    <meta name="application-name" content="HPX">
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    {%if dev%}
    <link rel="stylesheet" href="/static/css/semantic.css" />
    {%else%}
    <link rel="stylesheet" href="/static/css/semantic.min.css" />
    {% endif %}
</head>
<body>
<div id="root" data-machine="{{same_machine}}" data-version="{{version}}" class="fullheight">
</div>
<script src="/static/lib/bundle.js"></script>
</body>
</html>