{% extends "base.html" %} {% block content %}

{% import 'item-t.html' as item_t %}
{{ item_t.page_medium("col-md-3 col-sm-3 col-xs-5") }}
{{ item_t.gallery_medium("col-md-3 col-sm-3 col-xs-5") }}

{% raw %}

<script id="gallery-t" type="x-handlebars-template">
    <div id="gallery" , class="well well-lg clearfix">
        <div id="top-misc" class="row col-md-12">
            <div class="titles">
                <h3>{{ title }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <table class="meta col-md-12">
                    <tr>
                        <td class="td-top" colspan="2">
                            <div id="profile" class="">
                                <div class="load load-center">
                                    <div class="line bg-primary"></div>
                                    <div class="line bg-primary"></div>
                                    <div class="line bg-primary"></div>
                                </div>
                                <img class="profile-big img-rounded img-responsive" src="{{ thumb }}">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="attribute">
                            Artists:
                        </td>
                        <td>
                            {{#each artists}}
                            <a href="/artist/{{ id }}">
                                <span class="">{{ name }}</span>
                            </a>
                            {{/each}}

                        </td>
                    </tr>
                    <tr>
                        <td class="attribute">
                            Circle:
                        </td>
                        <td>
                            Circle
                        </td>
                    </tr>
                    <tr>
                        <td class="attribute">
                            Collections:
                        </td>
                        <td>
                            <span class="col-tag">Collection 1</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="attribute">
                            Release Date:
                        </td>
                        <td>{{ published }}</td>
                    </tr>
                    <tr>
                        <td class="attribute">
                            Language:
                        </td>
                        <td id="g-lang"></td>
                    </tr>
                    <tr>
                        <td class="attribute">
                            Rating:
                        </td>
                        <td>
                            <span class="rating pull-left">
                                <i class="glyphicon glyphicon-heart"></i>
                                <i class="glyphicon glyphicon-heart"></i>
                                <i class="glyphicon glyphicon-heart"></i>
                                <i class="glyphicon glyphicon-heart"></i>
                                <i class="glyphicon glyphicon-heart"></i>
                                <i class="glyphicon glyphicon-heart"></i>
                                <i class="glyphicon glyphicon-heart"></i>
                                <i class="glyphicon glyphicon-heart"></i>
                                <i class="glyphicon glyphicon-heart"></i>
                                <i class="glyphicon glyphicon-heart"></i>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="tags" class="well well-sm">
                                <table class="table">
                                    <tr>
                                        <td colspan="2">
                                            <span class="tag label label-default">Tag 1</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50px">
                                            NS 1:
                                        </td>
                                        <td>
                                            <span class="tag label label-default">Tag 1</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50px">
                                            NS 2:
                                        </td>
                                        <td>
                                            <span class="tag label label-default">Tag 1</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50px">
                                            NS 3:
                                        </td>
                                        <td>
                                            <span class="tag label label-default">Tag 1</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-8 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Series <span id="groping-count" class="badge">0</span></div>
                    <div class="panel-body">
                        <div id="grouping" class="carousel slide" data-ride="carousel">

                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>
                                <!--/item-->
                                <div class="item">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>
                                <!--/item-->
                                <div class="item">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>
                                <!--/item-->
                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#grouping" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#grouping" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Pages <span id="page-count" class="badge">0</span></div>
                    <div id="pages" class="panel-body">
                    </div>
                </div>

            </div>
        </div>

        <div id="bottom-misc" class="clearfix row col-md-12"">
            <span class="pull-left" aria-hidden="true">Created: <span class="label label-default">{{ added }} ({{ rel_added }})</span></span>
            <span class="pull-left" aria-hidden="true">Last read: <span class="label label-default">{{ read }} ({{ rel_read }})</span></span>
            <span class="pull-left" aria-hidden="true">Last updated: <span class="label label-default">{{ updated }} ({{ rel_updated }})</span></span>
        </div>

    </div>
</script>

<div onload="pages.init_page('gallery', pages.GalleryPage).main()">

    <ul class="breadcrumb">
        <li>
            <a href="/library">Library</a>
        </li>
        <li class="active">Gallery</li>
    </ul>

</div>


{% endraw %}
{% endblock %}