{% extends "base.html" %} {% block content %}

{% import 'item-t.html' as item_t %}
{{ item_t.gallery_medium() }}

{% raw %}
<div id="item-content" class="row" onload="pages.init_page('library', pages.LibraryPage).main()">

<div id="item-sidebar" class="col-md-2 col-sm-4">
    <div id="browse-settings" class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Browse Settings</div>

        <!-- List group -->
        <div class="list-group">

            <a data-toggle="collapse" data-target="#view-settings" class="collapsed list-group-item">
                View: <span id="current-view" class="label label-info">Unknown</span>
            </a>
            <div class="list-group collapse" id="view-settings">
                <a data-toggle="collapse" data-target=".collapse.in" class="list-group-item sub" onclick="pages.get_page('library').set_property('view', 'Collection')">Collection</a>
                <a data-toggle="collapse" data-target=".collapse.in" class="list-group-item sub" onclick="pages.get_page('library').set_property('view', 'Gallery')">Gallery</a>
            </div>

            <a data-toggle="collapse" data-target="#sort-settings" class="collapsed list-group-item">
                Sort by: <span class="label label-info">Unknown</span>
            </a>
            <div class="list-group collapse" id="sort-settings">
                <a data-toggle="collapse" data-target=".collapse.in" class="list-group-item sub" onclick="pages.get_page('library').set_property('sort', 'Title')">Title</a>
                <a data-toggle="collapse" data-target=".collapse.in" class="list-group-item sub">Artist</a>
            </div>

            <a data-toggle="collapse" data-target="#order-settings" class="collapsed list-group-item">
                Order: <span class="label label-info">Unknown</span>
            </a>
            <div class="list-group collapse" id="order-settings">
                <a data-toggle="collapse" data-target=".collapse.in" class="list-group-item sub">Ascending</a>
                <a data-toggle="collapse" data-target=".collapse.in" class="list-group-item sub">Descending</a>
            </div>

            <ul class="list-group">
                <li class="list-group-item">
                    Show Series
                    <div class="material-switch pull-right">
                        <input id="gallery-group" name="" type="checkbox"/>
                        <label for="gallery-group" class="label-info"></label>
                    </div>
                </li>
                <li class="list-group-item">
                    Infinite Scroll
                    <div class="material-switch pull-right">
                        <input id="infinite-scroll" name="" type="checkbox"/>
                        <label for="infinite-scroll" class="label-info"></label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#side-lists" data-toggle="tab" aria-expanded="true">Filters</a>
        </li>
        <li class="">
            <a href="#side-artists" data-toggle="tab" aria-expanded="false">Artists</a>
        </li>
        <li class="">
            <a href="#side-tags" data-toggle="tab" aria-expanded="false">Tags</a>
        </li>
    </ul>
    <div class="tab-content">

        <!-- Lists -->

        <div class="tab-pane fade active in" id="side-lists">
            <div class="list-group">

                <script id="side-lists-t" type="x-handlebars-template">
                        {{#each side_lists}}
                        <a class="list-group-item">
                            {{ name }}
                        </a>
                        {{/each}}
                    </script>

            </div>
        </div>

        <!-- Artists -->

        <script id="side-artists-t" type="x-handlebars-template">
                <div class="list-group">
                    {{#each side_artists}}
                    <a class="list-group-item">
                        <span class="badge">{{ count }}</span>
                        {{ name }}
                    </a>
                    {{/each}}
                </div>
            </script>
        <div class="tab-pane fade" id="side-artists"></div>

        <!-- Tags -->

        <div class="tab-pane fade" id="side-tags">
            <div class="list-group">
                <!--<a class="list-group-item">
                    <span class="badge">14</span>
                    Cras justo odio
                </a>
                <a data-toggle="collapse" data-target="#products" class="collapsed list-group-item">
                    <span class="badge">14</span>
                    <i class="fa fa-gift fa-lg"></i> UI Elements <span class="arrow"></span>
                </a>
                <ul class="list-group sub-menu collapse" id="products">
                    <li class="list-group-item">
                        <a href="#">CSS3 Animation</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">General</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">Buttons</a>
                    </li>
                </ul>-->
            </div>
        </div>
    </div>
</div>
<div id="item-main" class="col-md-10 col-sm-8">

    <script id="nothing-t" type="x-handlebars-template">
        <div class="nothing">
            Nothing to see here ~
        </div>
        </script>

    <script id="item-pagination-t" type="x-handlebars-template">
        <ul class="pagination">
            {{#if back_button}}
            <li><a href="#" onclick="pages.get_page('library').update_pagination({{back_number}})">&laquo;</a></li>
            {{/if}}

            {{#each pages}}

            {{#if active}}
            <li class="active"><a href="#" onclick="pages.get_page('library').update_pagination({{number}})">{{ number }}</a></li>
            {{else}}
            <li><a href="#" onclick="pages.get_page('library').update_pagination({{number}})">{{ number }}</a></li>
            {{/if}}

            {{/each}}

            {{#if next_button}}
            <li><a href="#" onclick="pages.get_page('library').update_pagination({{next_number}})">&raquo;</a></li>
            {{/if}}
        </ul>
        </script>

    <form role="search" action="#" onsubmit="pages.get_page('library').update_search_query()">
        <div class="input-group" id="adv-search">
            <input id="search" type="text" class="form-control" placeholder="Search for galleries"/>
            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <div class="dropdown dropdown-lg">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                        </button>
                        <div id="search-options" class="dropdown-menu dropdown-menu-right" role="menu">

                            <div class="list-group">
                                Case Sensitive
                                <div class="material-switch pull-right">
                                    <input type="checkbox" checked id="search-option-case">
                                    <label for="search-option-case" class="label-info"></label>
                                </div>
                            </div>

                            <div class="list-group">
                                Regex
                                <div class="material-switch pull-right">
                                    <input type="checkbox" checked id="search-option-regex">
                                    <label for="search-option-regex"class="label-info"></label>
                                </div>
                            </div>

                            <div class="list-group">
                                Match whole words
                                <div class="material-switch pull-right">
                                    <input type="checkbox" checked id="search-option-words">
                                    <label for="search-option-words" class="label-info"></label>
                                </div>
                            </div>

                            <div class="list-group">
                                Match all terms
                                <div class="material-switch pull-right">
                                    <input type="checkbox" checked id="search-option-terms">
                                    <label for="search-option-terms" class="label-info"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>

    <div class="item-pagination"></div>
    <div id="items"></div>
    <div class="item-pagination"></div>
</div>
</div>
{% endraw %}
{% endblock %}