@import "variables";
@import "bootswatch/variables";
@import "bootstrap";
@import "bootswatch/bootswatch";

* {
    margin: 0;
    padding: 0;
}

nav {
    margin: auto;
}

footer {
    margin: auto;
    padding: 5pt;
}

#footer-right, #footer-left {
    padding-bottom: 10pt;
}

.item-medium {
    width: 200px;
    position: relative;
    min-height: 100px;
    max-height: 350px;
}

.card {
    overflow: hidden;

    .card-link {
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
    }

    .card-content {
        position: absolute;
        width: 100%;
        padding: 5pt 5pt;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        -webkit-transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .header {
        border-radius: 5px 5px 0 0;
        margin-top: -50px;
    }

    &:hover .header {
        margin-top: 0;
        -webkit-transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .header .item {
        font-size: 1.3em;
    }

    .footer {
        bottom: 0;
        padding: 2pt 8pt;
        max-height: 200px;
        pointer-events: none;

        .card-text {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            text-align: center;
        }
    }

    &:hover .footer .card-text {
        overflow: visible;
        white-space: normal;
    }

    h5 {
        color: white;
    }

    h6 {
        color: rgba(255, 255, 255, 0.7);
    }
}

.item-pagination {
    text-align: center;

    .pagination {
        margin-bottom: 0;
        margin-top: 0;
    }
}

.json-string {
    color: green;
}

.json-number {
    color: darkorange;
}

.json-boolean {
    color: blue;
}

.json-null {
    color: magenta;
}

.json-key {
    color: red;
}

#args {
    margin-bottom: 20pt;

    ul {
        list-style: none;

        li div {
            margin-bottom: 5pt;
        }
    }

    span {
        margin-left: 5pt;
        margin-right: 5pt;
        margin-bottom: 10pt;
    }
}

.list-group .sub {
    padding-left: 30px;
}

.input-label {
    padding: 1em;
    padding-bottom: 0.5em;
}

#search-options {
    z-index: 10;
}

#item-main {
    .breadcrumb, #adv-search {
        margin-bottom: 10px;
    }
}

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}

.input-group-btn .btn-group {
    display: flex !important;
}

.btn-group {
    .btn {
        border-radius: 0;
        margin-left: -1px;

        &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }

    .form-horizontal .btn[type="submit"] {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.material-switch > {
    input[type="checkbox"] {
        display: none;
    }

    label {
        cursor: pointer;
        height: 0px;
        position: relative;
        width: 40px;

        &::before {
            background: rgb(0, 0, 0);
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 8px;
            content: '';
            height: 16px;
            margin-top: -8px;
            position: absolute;
            opacity: 0.3;
            transition: all 0.4s ease-in-out;
            width: 40px;
        }

        &::after {
            background: rgb(255, 255, 255);
            border-radius: 16px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            content: '';
            height: 24px;
            left: -4px;
            margin-top: -8px;
            position: absolute;
            top: -4px;
            transition: all 0.3s ease-in-out;
            width: 24px;
        }
    }

    input[type="checkbox"]:checked + label {
        &::before {
            background: inherit;
            opacity: 0.5;
        }

        &::after {
            background: inherit;
            left: 20px;
        }
    }
}

.load .line {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 15px;
}

.load-center {
    position: absolute;
    left: 40%;
    right: 40%;
    top: 40%;
}

.load .line {
    &:nth-last-child(1) {
        animation: loading .6s .1s linear infinite;
    }

    &:nth-last-child(2) {
        animation: loading .6s .2s linear infinite;
    }

    &:nth-last-child(3) {
        animation: loading .6s .3s linear infinite;
    }
}

@keyframes loading {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, 0);
    }
}


.grid-items:after {
    content: '';
    display: block;
    clear: both;
}

#gallery {
    #top-misc, #bottom-misc {
        width: 100%;
    }

    #top-misc .label {
        margin: 5px;
    }

    #bottom-misc {
        .label {
            margin: 5px;
        }

        > span {
            margin-bottom: 5px;
        }
    }
}

.profile-big {
    width: 300px;
}

.profile-medium {
    width: 200px;
}

.profile-small {
    width: 100px;
}

#gallery {
    #profile {
        position: relative;
    }

    .rating {
        font-size: 1.2em;
    }

    .attribute {
        color: rgba(0, 0, 0, 0.5);
        font-weight: bold;
        padding: 7px;
        max-width: 120px;
    }

    .titles {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    #pages {
        .card {
            display: inline-block;
            margin: 1em;
        }

        .card-content {
            text-align: center;
        }
    }
}

.rating {
    display: flex;
    flex-direction: row-reverse;

    > i:hover {
        &:before, ~ i:before {
            color: red;
            cursor: pointer;
        }
    }
}

.col-tag {
    font-size: 1em;
}

.tag {
    font-size: 0.9em;
}

#pages .page {
    text-align: center;
    position: relative;
}

#items {
    padding: 10px 0;
}

.td-top {
    vertical-align: top;
}
