.quick-links {
    list-style: none outside none;
    margin: 0;
    padding: 5px 20px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-top: 1px solid rgba(0, 0, 0, .1);
}


.quick-links li {
    display: inline;
    line-height: 30px;
    margin: 0 5px;
}

.quick-links .divider { color: #999999; }

.quick-links strong { font-weight: normal; }

.quick-link {
    position: relative;
    top: 5px;
}

.class > dd, .function > dd {
    border-left: 0.3em solid rgba(0, 0, 0, 0.1);
    padding: 1em 1em 0 1em;
}

.class > dd, .function > dd > p:last-of-type {
    padding-bottom: 1em;
}

dd > table.field-list {
    width: 100% !important;
    border-top: 0.1em solid rgba(0, 0, 0, 0.1);
}

.class .attribute { font-size: 0.9em; }

.function > dt > em { margin: 0 3px; }

.seealso .last code {
    color: #0f0f0f;
}

.seealso .last code span:before {
    content: '- ';
}

code {
    color: #e95353;
}

body {
    font-size: 11pt;
}

.alert-info {
    background-color: #20c8f1;
}

ul li .function code.descname {
    font-size: 1.05em;
}

.navbar-brand img {
    height: 40px;
}

.navbar-brand {
    padding: 15px 15px;
    line-height: 0;

}

h1, .h1 {
      padding-bottom: 0.3em;
  font-size: 2em;
border-bottom: 1px solid #eaecef;
}

h2, .h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
border-bottom: 1px solid #eaecef;
}

h3, .h3 {
 font-size: 1.25em;
}

h4, .h4 {
 font-size: 1em;
}

h5, .h5 {
 font-size: 0.875em;
}

h6, .h6 {
  font-size: 0.85em;
color: #6a737d;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
line-height: 1.25;
}